.Grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    flex-direction: column; /* Para centrar también el título */
  }
  
  table {
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
  }
  
  h2 {
    text-align: center;
  }
  