.simulation-container {
  flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .parameter-graph-container{
    display: flex;
    flex-direction: row;
  }
  
  .button {
    background-color: #007bff;
    border-radius: 10px;
    padding: 10px;
  }
  