<!-- ######################################################################
## PythonSyntheticElectronicMedicalRecords 1.0
## Modelo computacional de registros medicos electrónicos sintéticos 
## en Python.
######################################################################
## This software are distributed using the Creative Commons Public
## License "Attribution-NonCommercial-ShareAlike 4.0 International"
## https://creativecommons.org/licenses/by-nc-sa/4.0/
######################################################################
## Author: Manuel Castañón Puga, Claudio Emiliano Palacio Martínez, 
## Ricardo Fernando Rosales Cisneros, Carelia Guadalupe Gaxiola
## Pacheco, Luis Enrique Palafox Maestre.
## Copyright: Copyright 2024, Universidad Autónoma de Baja California.
######################################################################
## Credits: matplotlib, mesa, Flask, SQLAlchemy, Faker, requests, 
## tqdm, pandas and click libraries.
## License: CC BY-NC-SA 4.0
## Version: 1.0.0
## Mmaintainer: https://github.com/pugapuga.
## Email: puga@uabc.edu.mx
## Status: Released.
###################################################################### -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseased Patients Graph</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#runSimulationBtn').click(function() {
                $('#loadingMessage').show();
                
                $.ajax({
                    type: 'POST',
                    url: '/run_simulation',
                    success: function(graphFilename) {
                        $('#loadingMessage').hide();
                        
                        $('#graphImage').attr('src', graphFilename);
                    },
                    error: function(xhr, status, error) {
                        $('#loadingMessage').hide();
                        
                        console.error('Error:', error);
                    }
                });
            });
        });
    </script>
    <style>
        #loadingMessage {
            display: none;
        }
        #graphImage {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Pacientes enfermos a lo largo del tiempo</h1>
    <button id="runSimulationBtn">Run Simulation</button>
    <h1>Grafica</h1>
    <div id="loadingMessage">Loading...</div>
    <iframe src="{{ url_for('static', filename='diseased_patients_graph.html') }}" style="width:100%; height:500px;"></iframe>
    <h1>Histograma pacientes</h1>
    <iframe src="{{ url_for('static', filename='patients_histogram.html') }}" style="width:100%; height:500px;"></iframe>
    <h1>Grafica de pastel de distribucion de enfermedades en el ultimo dia</h1>
    <iframe src="{{ url_for('static', filename='disease_distribution_pie_chart.html') }}" style="width:100%; height:500px;"></iframe>
    <h1>Coeficiente de correlacion de spearman</h1>
    <iframe src="{{ url_for('static', filename='temperature_disease_correlation.html') }}" style="width:100%; height:500px;"></iframe>
</body>
</html>
